Source: gup
Section: news
Priority: optional
Maintainer: Marco d'Itri <md@linux.it>
Standards-Version: 4.1.1.1
Build-Depends: debhelper (>> 9)
Vcs-Git: git://github.com/rfc1036/gup.git
Vcs-Browser: https://github.com/rfc1036/gup

Package: gup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, default-mta | mail-transport-agent, adduser
Recommends: inn | inn2
Description: let a remote site change their newsgroups subscription
 Gup, the Group Update Program is a Unix mail-server that lets a remote
 site change their newsgroups subscription without requiring the
 intervention of the news administrator at the feed site.
 .
 Gup is suited to news administrators that find they are spending an
 inordinate amount of time editing the INN newsfeeds file on behalf of
 the remote sites.
